<main class="flex-1">
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <div class="bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:p-6">
          <h2 class="text-2xl leading-6 font-medium text-gray-900">Crear Subtarea</h2>
          <div class="mt-5">
            <form [formGroup]="subtaskForm" (ngSubmit)="onSubmit()">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  
                <!-- Subtask Name -->
                <div>
                  <label for="name" class="block text-sm font-medium text-gray-700">Nombre</label>
                  <input type="text" id="name" formControlName="name" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" placeholder="Nombre de la subtarea">
                </div>
  
                <!-- Subtask Description -->
                <div class="md:col-span-2">
                  <label for="description" class="block text-sm font-medium text-gray-700">Descripción</label>
                  <textarea id="description" formControlName="description" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" rows="4" placeholder="Descripción de la subtarea"></textarea>
                </div>
  
                <!-- Subtask Status -->
                <div>
                  <label for="status" class="block text-sm font-medium text-gray-700">Estado</label>
                  <select id="status" formControlName="status" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    <option *ngFor="let status of taskStatuses" [value]="status.value">
                      {{ status.name }}
                    </option>
                  </select>
                </div>
  
                <!-- Task ID -->
                <div>
                  <label for="task-id" class="block text-sm font-medium text-gray-700">ID de Tarea</label>
                  <input type="text" id="taskId" formControlName="taskId" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" placeholder="ID de la tarea">
                </div>
  
              </div>
  
              <!-- Submit Button -->
              <div class="mt-6">
                <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  Crear Subtarea
                </button>
              </div>
            </form>
            <div class="mt-6 flex justify-end">
              <button class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" (click)="navigateToSubTasks()">Volver</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
