<main class="flex-1">
  <div class="max-w-7xl mx-auto py-12 sm:px-12 lg:px-20">
    <!-- Search and Filter Section -->
    <div class="mb-12 bg-white shadow sm:rounded-lg">
      <div class="px-6 py-8 sm:p-12">
        <div class="grid grid-cols-12 gap-4 grid-cols-1 md:grid-cols-3 gap-6">
          <div>
            <label for="search" class="label-style">Buscar Issues</label>
            <input type="text" name="search" id="search" class="input-style" placeholder="Buscar por clave o resumen">
          </div>
          <div>
            <label for="filter-type" class="label-style">Filtrar por Tipo</label>
            <select id="filter-type" name="filter-type" class="select-style">
              <option>Todos</option>
              <option>Bug</option>
              <option>Feature</option>
              <option>Task</option>
            </select>
          </div>
          <div>
            <label for="filter-status" class="label-style">Filtrar por Estado</label>
            <select id="filter-status" name="filter-status" class="select-style">
              <option>Todos</option>
              <option>Abierto</option>
              <option>Cerrado</option>
              <option>En Progreso</option>
            </select>
          </div>
          <div>
            <button class="button-primary" (click)="navigateToIssuesForm()">Create issue</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Issues Section -->
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-6 py-8 sm:p-12">
        <h2 class="text-2xl leading-6 font-medium text-gray-900">Issues</h2>
        <div class="mt-8 overflow-x-auto">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="table-header">Clave</th>
                <th scope="col" class="table-header">Tipo</th>
                <th scope="col" class="table-header">Resumen</th>
                <th scope="col" class="table-header">Reportado por</th>
                <th scope="col" class="relative px-12 py-4">
                  <span class="sr-only">Ver</span>
                </th>
              </tr>
            </thead>
            <tbody class="table-row">
              <!-- Issue Item -->
              <tr *ngFor="let issue of issues">
                <td class="table-cell">{{ issue.code }}</td>
                <td class="table-cell">
                  <span *ngIf="issue.type === 'BUG'" class="badge-bug">Bug</span>
                  <span *ngIf="issue.type === 'FEATURE_REQUEST'" class="badge-feature">Feature</span>
                </td>
                <td class="table-cell text-gray-900">{{ issue.summary }}</td>
                <td class="table-cell">{{ issue.reporter?.first_name }}</td>
                <td class="table-cell text-right text-sm font-medium">
                  <a class="link-primary">Ver</a>
                </td>
              </tr>
              <!-- Mostrar mensaje si no hay issues -->
              <tr *ngIf="issues.length === 0">
                <td colspan="5" class="table-cell text-center">No hay issues disponibles</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
