@if (user) {
  <div
    class="avatar-dropdown-container"
    (click)="toggleDropdown()">
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"
      class="avatar-image">
    </p-avatar>
    <div class="user-info hidden md:flex">
      <span class="user-name">{{user.first_name}} {{user.last_name}}</span>
      <span class="user-role">
        {{ user.type_user ? userTypeMap[user.type_user] : 'Unknown' }}
      </span>
    </div>
    <i class="pi pi-angle-down dropdown-icon"></i>
    <div [ngClass]="{'dropdown-visible': dropdownVisible, 'dropdown-hidden': !dropdownVisible}"
      class="dropdown-menu"
      (click)="$event.stopPropagation()">
      @for (option of menuItems(); track option) {
        <a class="dropdown-item"
          mat-list-item (click)="selectOption(option.label)"
          [routerLink]="option.route">
          <i class="pi dropdown-item-icon" [class]="option.icon"></i>
          <span class="dropdown-item-text">{{ option.label }}</span>
        </a>
      }
    </div>
  </div>
}
