<aside class="sidebar">
  <div class="sidebar-header">
    <a class="sidebar-link">
      <h6 class="sidebar-title">LOGO</h6>
    </a>
  </div>

  <div class="sidebar-section">
    <hr class="sidebar-divider">
    <div class="sidebar-section-header mb-2">
      <a>workspace</a>
      <i class="pi pi-plus-circle" [routerLink]="['/pages/shared/workspace-form']"></i>
    </div>
    <app-workspace-switcher (workspaceSelected)="onWorkspaceSelected($event)"></app-workspace-switcher>
    <hr class="sidebar-divider">
  </div>

  <div class="sidebar-section">
    <a 
      class="sidebar-menu-item" 
      mat-list-item 
      *ngFor="let item of menuItems" 
      [routerLink]="item.route"
      routerLinkActive="sidebar-menu-item-active" 
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label }}</span>
    </a>
  </div>

  <div class="sidebar-section">
    <hr class="sidebar-divider">
    <div class="sidebar-section-header">
      <a>projects</a>
      <i class="pi pi-plus-circle" (click)="openModal()"></i>
    </div>
    <app-project-list [workspace]="selectedWorkspaceId"></app-project-list>
  </div>
</aside>
