<div class="project-list">
  @for (project of projects; track project) {
    <div class="project-item"
      (click)="navigateToProject(project.id)">
      @if (project.image) {
        <img [src]="project.image" alt="project Icon" class="project-avatar" />
      } @else {
        <div class="project-avatar-placeholder">
          <span class="project-letter">{{ project.name[0] }}</span>
        </div>
      }
      <span class="project-name">{{ project.name }}</span>
      <i class="pi pi-chevron-right project-arrow"></i>
    </div>
  }
</div>
