<div class="bg-white shadow sm:rounded-lg select-none h-full">
    <div class="px-6 py-8 sm:p-12">
        <div class="flex flex-row items-center mb-5">
            <ng-container *ngIf="selectedWorkspace; else noWorkspaceSelected">
                <img *ngIf="selectedWorkspace.image" [src]="selectedWorkspace.image" alt="Workspace Icon"
                    class="image-icon w-7 h-6 mr-2 rounded-md" />
                <div *ngIf="!selectedWorkspace.image"
                    class="w-7 h-7 mr-2 flex items-center justify-center bg-blue-500 text-white rounded-md">
                    <span class="text-2xl font-bold ">{{ selectedWorkspace.name[0] }}</span>
                </div>
                <span class="text-2xl font-semibold">{{ selectedWorkspace.name }}</span>
            </ng-container>
            <ng-template #noWorkspaceSelected>
                <span>No workspace selected</span>
            </ng-template>
        </div>
        <p class="">Monitor all of your tasks here.</p>
        <hr class="mt-6 p-2 border-dashed">
    </div>
</div>