<main class="flex-1">
  <div class="max-w-7xl mx-auto py-12 sm:px-12 lg:px-20">
    <!-- Search and Filter Section -->
    <div class="mb-12 bg-white shadow sm:rounded-lg">
      <div class="px-6 py-8 sm:p-12">
        <div class="grid grid-cols-12 gap-4 grid-cols-1 md:grid-cols-2 gap-6">
          <div>
            <label for="search" class="label-style">Buscar Subtareas</label>
            <input type="text" name="search" id="search" class="input-style" placeholder="Buscar por ID o nombre">
          </div>
          <div>
            <label for="filter-status" class="label-style">Filtrar por Estado</label>
            <select id="filter-status" name="filter-status" class="select-style">
              <option *ngFor="let status of taskStatuses" [value]="status.value">
                {{ status.name }}
              </option>
            </select>
          </div>
          <div>
            <button class="button-primary" (click)="navigateToSubTaskForm()">Create subtask</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Subtasks Section -->
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-6 py-8 sm:p-12">
        <h2 class="text-2xl leading-6 font-medium text-gray-900">Subtareas</h2>
        <div class="mt-8 overflow-x-auto">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="table-header">ID</th>
                <th scope="col" class="table-header">Nombre</th>
                <th scope="col" class="table-header">Descripción</th>
                <th scope="col" class="table-header">Estado</th>
                <th scope="col" class="table-header">Task ID</th>
                <th scope="col" class="table-header">Fecha de Creación</th>
                <th scope="col" class="table-header">Fecha de Actualización</th>
                <th scope="col" class="relative px-12 py-4">
                  <span class="sr-only">Ver</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr *ngFor="let subTask of filteredSubTasks">
                <td class="table-cell">{{ subTask.id }}</td>
                <td class="table-cell">{{ subTask.name }}</td>
                <td class="table-cell">{{ subTask.description || '-' }}</td>
                <td class="table-cell">
                  <span class="badge"
                    [ngClass]="{
                      'badge-pending': subTask.status === 'PENDING',
                      'badge-in-progress': subTask.status === 'IN_PROGRESS',
                      'badge-completed': subTask.status === 'COMPLETED'
                    }">
                    {{ subTask.status }}
                  </span>
                </td>
                <td class="table-cell">{{ subTask.taskId }}</td>
                <td class="table-cell">{{ subTask.creation_date }}</td>
                <td class="table-cell">{{ subTask.update_date }}</td>
              </tr>
              <!-- Mostrar mensaje si no hay subtareas -->
              <tr *ngIf="subTasks.length === 0">
                <td colspan="8" class="table-cell-empty">No hay subtareas disponibles</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>


  
