<main class="flex-1">
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <div class="bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:p-6">
          <h2 class="text-2xl leading-6 font-medium text-gray-900">Añadir Comentario</h2>
          <div class="mt-5">
            <form  (ngSubmit)="onSubmit()">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                  <label for="issue-id" class="block text-sm font-medium text-gray-700">ID de Incidencia</label>
                  <input type="number" id="issue-id" formControlName="issue_id"
                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" required>
                </div>
                <div>
                  <label for="author-user-id" class="block text-sm font-medium text-gray-700">ID del Autor</label>
                  <input type="number" id="author-user-id" formControlName="author_user_id"
                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" required>
                </div>
                <div class="md:col-span-2">
                  <label for="body" class="block text-sm font-medium text-gray-700">Comentario</label>
                  <textarea id="body" formControlName="body"
                    class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" rows="4"
                    placeholder="Escribe tu comentario aquí..." required></textarea>
                </div>
              </div>
              <div class="mt-6">
                <button type="submit"
                  class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  Enviar Comentario
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  
