<main class="flex-1">
  <div class="main-container">
    <!-- Issue Creation Section -->
    <div class="card">
      <div class="card-content">
        <h2 class="heading">Crear Issue</h2>
        <div class="mt-8">
          <form [formGroup]="issueForm" (ngSubmit)="onSubmit()">
            <div class="grid-form">
              <div>
                <label for="code" class="label-style">Código</label>
                <input type="text" id="code" formControlName="code" class="input-style" />
              </div>
              <div>
                <label for="type" class="label-style">Tipo</label>
                <select id="type" formControlName="type" class="input-style">
                  <option *ngFor="let type of issueTypes" [value]="type">{{ type }}</option>
                </select>
              </div>
              <div>
                <label for="summary" class="label-style">Resumen</label>
                <input type="text" id="summary" formControlName="summary" class="input-style" />
              </div>
              <div>
                <label for="description" class="label-style">Descripción</label>
                <textarea id="description" formControlName="description" class="input-style"></textarea>
              </div>
              <div>
                <label for="priority" class="label-style">Prioridad</label>
                <select id="priority" formControlName="priority" class="input-style">
                  <option *ngFor="let priority of issuePriorities" [value]="priority">{{ priority }}</option>
                </select>
              </div>
              <div>
                <label for="projectId" class="label-style">ID de Proyecto</label>
                <select id="projectId" formControlName="projectId" class="input-style">
                  <option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</option>
                </select>
              </div>
              <div>
                <label for="status" class="label-style">Estado</label>
                <select id="status" formControlName="status" class="input-style">
                  <option *ngFor="let status of issueStatues" [value]="status">{{ status }}</option>
                </select>
              </div>
            </div>
            <div class="mt-12">
              <button type="submit" class="button-primary">Crear Issue</button>
            </div>
          </form>
          <div class="mt-12 flex justify-end">
            <button class="button-primary" (click)="navigateToIssues()">Volver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

  
