<main>
  <div class="table-container">
    <div class="card">
      <div class="card-content">
        <h2 class="heading">Issues details</h2>
        <form [formGroup]="issuesFormular" (ngSubmit)="onSubmit()">
          <div class="form-container" *ngIf="issue; else loading">
            <div>
              <label class="label-style">Clave</label>
              <input class="input-style input-readonly" [readonly]="true" />{{ issue.code }}
            </div>
            <div>
              <label for="type" class="label-style">Tipo</label>
              <select
                id="type"
                formControlName="type"
                class="input-style"
                [disabled]="!isEditing"
                [ngClass]="{ 'input-readonly': isEditing }"
              >
                <option *ngFor="let type of issueTypes" [value]="type">{{ type }}</option>
              </select>
            </div>
            <div class="sm:col-span-2">
              <label for="summary" class="label-style">Resumen</label>
              <textarea
                id="summary"
                formControlName="summary"
                class="input-style"
                [readonly]="!isEditing"
                [ngClass]="{ 'input-readonly': isEditing }"
              >
                {{ issue.summary }}
              </textarea>
            </div>
            <div class="sm:col-span-2">
              <label for="description" class="label-style">Descripción</label>
              <textarea
                id="description"
                formControlName="description"
                class="input-style"
                [readonly]="!isEditing"
                [ngClass]="{ 'input-readonly': isEditing }"
              >
                {{ issue.description || 'No disponible' }}
              </textarea>
            </div>
            <div>
              <label for="priority" class="label-style">Prioridad</label>
              <select
                id="priority"
                formControlName="priority"
                class="input-style"
                [disabled]="!isEditing"
                [ngClass]="{ 'input-readonly': isEditing }"
              >
                <option *ngFor="let priority of taskPriorities" [value]="priority">{{ priority }}</option>
              </select>
            </div>
            <div>
              <label for="status" class="label-style">Estado</label>
              <select
                id="status"
                formControlName="status"
                class="input-style"
                [disabled]="!isEditing"
                [ngClass]="{ 'input-readonly': isEditing }"
              >
                <option *ngFor="let status of issueStatuses" [value]="status">{{ status }}</option>
              </select>
            </div>
            <div>
              <label for="assignedTo" class="label-style">Asignado a</label>
              <p-multiSelect
                id="assignedTo"
                formControlName="assignedTo"
                [options]="availableAssigneds"
                optionLabel="first_name"
                placeholder="Seleccione a los Asignatarios"
                optionValue="id"
                class="input-style"
                [ngClass]="{ 'input-readonly': isEditing }"
                [disabled]="!isEditing"
              ></p-multiSelect>
            </div>
            <div>
              <label class="label-style">Reportado por</label>
              <input class="input-style input-readonly" [readonly]="true" />{{ issue.reporter?.first_name }}
            </div>
            <!-- Action Buttons -->
            <div>
              <button
                type="button"
                (click)="toggleEdit()"
                class="button-primary"
              >
                {{ isEditing ? 'Cancel' : 'Edit' }}
              </button>
            </div>
            <div *ngIf="isEditing">
              <button type="submit" class="button-primary">Apply</button>
            </div>
          </div>
          <ng-template #loading>
            <p>Cargando datos del issue...</p>
          </ng-template>
        </form>
        <div class="flex justify-between mt-6">
          <button class="button-primary">Eliminar</button>
          <button
            class="button-primary"
            (click)="navigateToIssues()"
          >
            Volver
          </button>
        </div>
      </div>
      <app-comments-list-component [issueId]="issueId || undefined"></app-comments-list-component>
    </div>
  </div>
</main>

  
