<main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <div class="bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:p-6">
          <h2 class="text-2xl leading-6 font-medium text-gray-900">Issues details</h2>
          <form [formGroup]="issuesFormular" (ngSubmit)="onSubmit()">
            <div class="mt-5 grid grid-cols-1 md:grid-cols-2 gap-4" *ngIf="issue; else loading">
                <div>
                  <label class="block text-sm font-medium text-gray-700">Clave</label>
                  <input class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" [readonly]="true" />{{ issue.code }}
                </div>
                <div>
                  <label for="type" class="block text-sm font-medium text-gray-700">Tipo</label>
                  <select id="type" formControlName="type" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" [disabled]="!isEditing" [ngClass]="{'bg-gray-200': isEditing}">
                    <option *ngFor="let type of issueTypes" [value]="type">{{ type }}</option>
                  </select>
                </div>
                <div class="sm:col-span-2">
                  <label for="summary" class="block text-sm font-medium text-gray-700">Resumen</label>
                  <textarea id="summary" formControlName="summary" class="mt-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" [readonly]="!isEditing" [ngClass]="{'bg-gray-200': isEditing}">{{ issue.summary }}</textarea>
                </div>
                <div class="sm:col-span-2">
                  <label for="description" class="block text-sm font-medium text-gray-700">Descripción</label>
                  <textarea id="description" formControlName="description" class="mt-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" [readonly]="!isEditing" [ngClass]="{'bg-gray-200': isEditing}">{{ issue.description || 'No disponible' }}</textarea>
                </div>
                <div>
                  <label for="priority" class="block text-sm font-medium text-gray-700">Prioridad</label>
                  <select id="priority" formControlName="priority" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" [disabled]="!isEditing" [ngClass]="{'bg-gray-200': isEditing}">
                    <option *ngFor="let priority of taskPriorities" [value]="priority">{{ priority }}</option>
                  </select>
                </div>
                <div>
                  <label for="status" class="block text-sm font-medium text-gray-700">Estado</label>
                  <select id="status" formControlName="status" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" [disabled]="!isEditing" [ngClass]="{'bg-gray-200': isEditing}">
                    <option *ngFor="let status of issueStatuses" [value]="status">{{ status }}</option>
                  </select>
                </div>
                <div>
                  <label for="assignedTo" class="block text-sm font-medium text-gray-700">Asignado a</label>
                  <p-multiSelect id="assignedTo"
                  formControlName="assignedTo" [options]="availableAssigneds" optionLabel="first_name" placeholder="Seleccione a los Asignatarios"
                  optionValue="id" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" [ngClass]="{'bg-gray-200': isEditing}" [disabled]="!isEditing"/>
                </div>
                <div>
                  <label class="block text-sm font-medium text-gray-700">Reportado por</label>
                  <input class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" [readonly]="true"/>{{issue.reporter?.first_name}}
                </div>
          <!-- Action Buttons -->
              <div>
                <button type="button" (click)="toggleEdit()" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  {{ isEditing ? 'Cancel' : 'Edit' }}
                </button>
              </div>
              <div *ngIf="isEditing">
                <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  Apply
                </button>
              </div>
            </div>
            <ng-template #loading>
              <p>Cargando datos del issue...</p>
            </ng-template>
          </form>
          <div class="flex justify-between mt-6">
            <button class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none   
          focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Eliminar</button>
            <button class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" (click)="navigateToIssues()">volver</button>
          </div>
        </div>
        <app-comments-list-component [issueId]="issueId || undefined"></app-comments-list-component>
      </div>
  </div>
</main>
  
