<div class="bg-white shadow sm:rounded-lg select-none">
    <div class="px-4 py-5 sm:p-6">
        <p class="text-2xl font-medium text-gray-900">Create a new Workspace</p>
        <hr class="mt-4 p-2 border-dashed">
        <div class="mt-5">
            <form (ngSubmit)="onSubmit()" [formGroup]="workspaceForm">
                <div class="space-y-2">
                    <label for="name" class="block font-bold text-sm text-gray-700">Workspace Name</label>
                    <input type="text" id="name" pInputText formControlName="name" placeholder="Enter workspace name"
                        class="w-full  border rounded-md h-12 p-3" />
                </div>
                <div class="mt-2">
                    <div class="flex flex-row items-center p-5 rounded-lg w-auto space-x-4">
                        <div class="w-24 h-24 rounded-md bg-gray-300 flex justify-center items-center overflow-hidden"
                            *ngIf="workspaceForm.get('image')?.value; else defaultImage">
                            <img [src]="workspaceForm.get('image')?.value" alt="Workspace Icon" class="image-icon" />
                        </div>
                        <ng-template #defaultImage class="">
                            <div class="flex items-center justify-center w-[100px] h-[100px] bg-slate-200 rounded-full p-4">
                                <i class="pi pi-image text-gray-500 text-4xl"></i>
                            </div>
                        </ng-template>
                        <div class="mt-3">
                            <label for="image" class="font-bold text-sm text-gray-700">Workspace Icon</label>
                            <p class="text-xs text-gray-500">JPG, PNG, SVG or JPEG, max 1mb</p>
                            <input #fileInput id="image" type="file" (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png, .svg"
                                class="mt-2 hidden" />
                            <a  (click)="fileInput.click()"
                                class="mt-3 px-2 py-1 bg-blue-200 text-white rounded-md font-bold hover:text-blue-500 focus:outline-none cursor-pointer">
                                Upload Image
                        </a>
                        </div>
                    </div>
                </div>
                <hr class="mt-4 p-2 border-dashed">
                <div class="flex justify-between">
                    <button
                        class="mt-4 p-4 text-sm font-extrabold w-auto border rounded-md text-gray-700 hover:bg-gray-400 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-500">Cancel</button>
                    <button
                        class="mt-4 p-4 text-sm font-extrabold w-auto border rounded-md bg-blue-700 text-white shadow-md hover:bg-blue-600 hover:shadow-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
                        >
                        Create Workspace
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>