<main class="flex-1">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <h2 class="heading">Comments details</h2>
        <form [formGroup]="commentFormular" (ngSubmit)="onSubmit()">
          <div *ngIf="comment; else noComment" class="grid-form">
            <!-- ID del Comentario -->
            <div>
              <label class="label">ID del Comentario</label>
              <input
                type="text"
                class="input"
                [readonly]="true"
              />{{ comment.id }}
            </div>

            <!-- Contenido -->
            <div class="md:col-span-2">
              <label class="label">Contenido</label>
              <textarea
                formControlName="body"
                class="input input-full"
                [ngClass]="{ 'input-disabled': isEditing }"
              >{{ comment.body }}</textarea>
            </div>

            <!-- Fecha -->
            <div>
              <label class="label">Fecha</label>
              <input
                type="date"
                class="input"
                [readonly]="true"
              />{{ comment.date || 'No disponible' }}
            </div>

            <!-- Fecha de última actualización -->
            <div>
              <label class="label">Fecha de última actualización</label>
              <input
                type="date"
                class="input"
                [readonly]="true"
              />{{ comment.updateAt || 'No disponible' }}
            </div>

            <!-- ID del Issue o Tarea -->
            <div>
              <label class="label">ID del Issue o de la Tarea</label>
              <input
                type="text"
                class="input"
                [readonly]="true"
              />{{ comment.taskId || comment.issueId || 'No especificado' }}
            </div>

            <!-- Datos del Autor -->
            <div>
              <label class="label">Datos del Autor</label>
              <input
                type="text"
                class="input"
                [readonly]="true"
              />Nombre: {{ comment.author?.first_name }}
              ID: {{ comment.authorId }}
            </div>

            <!-- Botones -->
            <div>
              <button
                type="button"
                (click)="toggleEdit()"
                class="button button-primary"
              >
                {{ isEditing ? 'Cancel' : 'Edit' }}
              </button>
            </div>
            <div *ngIf="isEditing">
              <button
                type="submit"
                class="button button-primary"
              >
                Apply
              </button>
            </div>
          </div>

          <!-- Sin comentarios -->
          <ng-template #noComment>
            <p class="error-text">No se encontró el comentario.</p>
          </ng-template>
        </form>

        <!-- Botones secundarios -->
        <div class="flex-between">
          <button
            class="button button-danger"
          >
            Eliminar
          </button>
          <button
            class="button button-primary"
            (click)="navigateToComments()"
          >
            Volver
          </button>
        </div>
      </div>
    </div>
  </div>
</main>


  
