.label-style {
    @apply block text-sm font-medium text-gray-700;
  }
  
  
  .input-style {
    @apply mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md;
  }
  
  .input-readonly {
    @apply bg-gray-200;
  }
  

  .button-primary {
    @apply inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }
  
  
  .main-container {
    @apply max-w-7xl mx-auto py-6 sm:px-6 lg:px-8;
  }
  
  .card {
    @apply bg-white shadow sm:rounded-lg;
  }
  
  .card-content {
    @apply px-4 py-4 sm:p-6;
  }
  
  .heading {
    @apply text-2xl leading-6 font-medium text-gray-900 mt-10;
  }
  
  .form-grid {
    @apply mt-5 grid grid-cols-1 md:grid-cols-2 gap-4;
  }
  