<div class="bg-white shadow sm:rounded-lg select-none">
    <div class="px-6 py-8 sm:p-12">
        <p class="text-2xl font-medium text-gray-900">Edit Project</p>
        <hr class="mt-6 p-2 border-dashed">
        <div class="mt-8">
            <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
                <div class="space-y-2">
                    <label for="name" class="block font-bold text-sm text-gray-700">Project Name</label>
                    <input type="text" id="name" formControlName="name" placeholder="Enter project name"
                        class="w-full border rounded-md h-12 p-4" />
                </div>
                <div class="space-y-2 mt-4">
                    <label for="description" class="block font-bold text-sm text-gray-700">Description</label>
                    <textarea id="description" formControlName="description" rows="4"
                        class="w-full border rounded-md p-4"></textarea>
                </div>
                <div class="space-y-2 mt-4">
                    <label for="type" class="block font-bold text-sm text-gray-700">Project Type</label>
                    <select id="type" formControlName="type" class="w-full border rounded-md h-14 p-4 bg-white">
                        <option *ngFor="let type of projectTypes" [value]="type.value">
                            {{ type.name }}
                        </option>
                    </select>
                </div>
                
                <div class="space-y-2 mt-4">
                    <label for="status" class="block font-bold text-sm text-gray-700">Project Status</label>
                    <select id="status" formControlName="status" class="w-full border rounded-md h-14 p-4 bg-white">
                        <option *ngFor="let status of projectStatuses" [value]="status.value">
                            {{ status.name }}
                        </option>
                    </select>
                </div>
                <div class="mt-4">
                    <div class="flex flex-row items-center space-x-4">
                        <div class="w-24 h-24 rounded-md bg-gray-300 flex justify-center items-center overflow-hidden"
                            *ngIf="projectImage; else defaultImage">
                            <img [src]="projectImage" alt="Project Icon" class="image-icon" />
                        </div>
                        <ng-template #defaultImage>
                            <div class="flex items-center justify-center w-24 h-24 bg-slate-200 rounded-full p-6">
                                <i class="pi pi-image text-gray-500 text-4xl"></i>
                            </div>
                        </ng-template>
                        <div class="mt-4">
                            <label for="image" class="font-bold text-sm text-gray-700">Project Icon</label>
                            <p class="text-xs text-gray-500">JPG, PNG, SVG or JPEG, max 1MB</p>
                            <input #fileInput id="image" type="file" (change)="onFileSelected($event)"
                                accept=".jpg, .jpeg, .png, .svg" class="mt-2 hidden" />
                            <a (click)="fileInput.click()"
                                class="mt-4 px-2 py-1 bg-blue-200 text-white rounded-md font-bold hover:text-blue-500 focus:outline-none cursor-pointer">
                                Upload Image
                            </a>
                        </div>
                    </div>
                </div>
                <hr class="mt-6 p-2 border-dashed">
                <div class="flex justify-between">
                    <button type="button"
                        class="mt-6 p-6 text-sm font-extrabold border rounded-md text-gray-700 hover:bg-gray-400 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-500" (click)="onCancel()">
                        Cancel
                    </button>
                    <button type="submit"
                        class="mt-6 p-6 text-sm font-extrabold border rounded-md bg-blue-700 text-white shadow-md hover:bg-blue-600 hover:shadow-xl focus:outline-none focus:ring-2 focus:ring-blue-500">
                        Update Project
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

