<main class="flex-1">
  <div class="max-w-7xl mx-auto py-12 sm:px-12 lg:px-20">
    <div class="bg-white shadow sm:rounded-lg">
      <div class="px-6 py-8 sm:p-12">
        <h2 class="text-2xl leading-6 font-medium text-gray-900">Crear Proyecto</h2>
        <div class="mt-8">
          <form (ngSubmit)="onSubmit()" [formGroup]="projectForm">
            <div class="grid grid-cols-12 gap-4 md:grid-cols-2 ">
              <div>
                <label for="name" class="block text-sm font-medium text-gray-700">Nombre del Proyecto</label>
                <input type="text" id="name" pInputText formControlName="name" variant="outlined"
                  class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
              </div>
              <div>
                <label for="code" class="block text-sm font-medium text-gray-700">Código del Proyecto</label>
                <input type="text" id="code" formControlName="code"
                  class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
              </div>
              <div>
                <label for="description" class="block text-sm font-medium text-gray-700">Descripción</label>
                <textarea id="description" formControlName="description"
                  class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"></textarea>
              </div>
              <div>
                <label for="type" class="block text-sm">Tipo de proyecto</label>
                <p-dropdown formControlName="type" [options]="proyectoType" optionLabel="name" [checkmark]="true"
                  optionValue="value"
                  class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                  placeholder="Seleccione el tipo de proyecto" />
              </div>
              <div>
                <label for="status" class="block text-sm font-medium text-gray-700">Estado del Proyecto</label>
                <p-dropdown formControlName="status" [options]="proyectoStatus" optionLabel="name" [checkmark]="true"
                  optionValue="value"
                  class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                  placeholder="Seleccione el tipo de proyecto" />
              </div>
              <div>
                <label for="participants" class="block text-sm font-medium text-gray-700">Participantes</label>
                <p-multiSelect formControlName="participants" [options]="users" optionLabel="first_name" placeholder="Seleccione a los Participantes"
                  optionValue="id" />
              </div>
            </div>
            <div class="mt-12">
              <button type="submit"
                class="inline-flex items-center px-6 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Crear Proyecto
              </button>
            </div>
          </form>
          <div class="mt-12 flex justify-end">
            <button
              class="inline-flex items-center px-6 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              (click)="navigateToProjects()">volver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>