<div class="dashboard-page">
  <div class="dashboard-header">
    <div class="header-info">
      <h1 class="title">Panel de Control</h1>
      <p class="subtitle">Estadísticas globales</p>
    </div>
    <button class="btn-primary" (click)="openModal()">
      <i class="pi pi-plus"></i>
      <span>Nuevo Proyecto</span>
    </button>
  </div>

  <div class="stats-grid">
    <div class="stat-card">
      <h3 class="card-label">Tareas Totales</h3>
      <div class="chart-wrapper">
        <div class="progress-ring total" style="--percent: 100; --accent-color: #3b82f6;">
          <div class="ring-inner">
            <span class="ring-data">{{ taskStats.total }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="stat-card">
      <h3 class="card-label">Mis Asignaciones</h3>
      <div class="chart-wrapper">
        <div class="progress-ring" 
             [style.--percent]="getPercentageValue(taskStats.assigned, taskStats.total)"
             style="--accent-color: #60a5fa;">
          <div class="ring-inner">
            <span class="ring-data">{{ taskStats.assigned }}</span>
            <span class="ring-percent">{{ getPercentage(taskStats.assigned, taskStats.total) }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="stat-card">
      <h3 class="card-label">Completadas</h3>
      <div class="chart-wrapper">
        <div class="progress-ring" 
             [style.--percent]="getPercentageValue(taskStats.completed, taskStats.total)"
             style="--accent-color: #10b981;">
          <div class="ring-inner">
            <span class="ring-data">{{ taskStats.completed }}</span>
            <span class="ring-percent">{{ getPercentage(taskStats.completed, taskStats.total) }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="stat-card" [ngClass]="{'danger-active': taskStats.overdue > 0}">
     <h3 class="card-label">Vencidas</h3>
      <div class="chart-wrapper">
        <div class="progress-ring" 
            [style.--percent]="getPercentageValue(taskStats.overdue, taskStats.total)"
            [style.--accent-color]="taskStats.overdue > 0 ? '#ef4444' : '#64748b'">
          <div class="ring-inner">
            <span class="ring-data" [style.color]="taskStats.overdue > 0 ? '#f87171' : 'white'">
              {{ taskStats.overdue }}
            </span>
            <span class="ring-percent">{{ getPercentage(taskStats.overdue, taskStats.total) }}</span>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>