<main class="flex-1">
  <div class="main-container">
    <div class="card">
      <div class="card-content">
        <h2 class="heading">Subtasks Details</h2>
        <form [formGroup]="subtasksFormular" (ngSubmit)="onSubmit()">
          @if (subtask) {
            <div class="form-grid">
              <div>
                <label class="label-style">Subtask ID</label>
                <input type="text" class="input-style input-readonly" [readonly]="true" />{{ subtask.id }}
              </div>
              <div>
                <label for="name" class="label-style">Name</label>
                <input
                  type="text"
                  formControlName="name"
                  id="name"
                  name="name"
                  class="input-style"
                  [readonly]="!isEditing"
                  [ngClass]="{ 'input-readonly': isEditing }"
                  />
                  {{ subtask.name }}
                </div>
                <div>
                  <label for="description" class="label-style">Description</label>
                  <textarea
                    formControlName="description"
                    id="description"
                    name="description"
                    class="input-style"
                    rows="4"
                    [readonly]="!isEditing"
                    [ngClass]="{ 'input-readonly': isEditing }"
                    >
                    {{ subtask.description || 'Sin descripción' }}
                  </textarea>
                </div>
                <div>
                  <label for="subtask-status" class="label-style">Status</label>
                  <select
                    id="status"
                    formControlName="status"
                    class="input-style"
                    [ngClass]="{ 'input-readonly': isEditing }"
                    >
                    @for (status of taskStatuses; track status) {
                      <option [value]="status.value">
                        {{ status.name }}
                      </option>
                    }
                  </select>
                </div>
                <div>
                  <label class="label-style">Task Name</label>
                  <input type="text" class="input-style input-readonly" [readonly]="true" />{{ subtask.task?.name }}
                </div>
                <div>
                  <label class="label-style">Creation Date</label>
                  <input type="text" class="input-style input-readonly" [readonly]="true" />{{ subtask.creation_date }}
                </div>
                <div>
                  <label class="label-style">Update Date</label>
                  <input type="text" class="input-style input-readonly" [readonly]="true" />{{ subtask.update_date }}
                </div>
                <!-- Botones de acción -->
                <div>
                  <button type="button" (click)="toggleEdit()" class="button-primary">
                    Edit
                  </button>
                </div>
                @if (isEditing) {
                  <div>
                    <button type="submit" class="button-primary">Apply</button>
                  </div>
                }
              </div>
            } @else {
              <p>No se encontró información para esta subtarea.</p>
            }
          </form>
          <div class="flex justify-between mt-12">
            <button class="button-primary">Eliminar</button>
            <button class="button-primary" (click)="navigateToSubTasks()">Volver</button>
          </div>
        </div>
      </div>
    </div>
  </main>


